.LibraryCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .ID___card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
  }
  
  .Library___body {
    padding: 20px;
    text-align: center;
  }
  
  .header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
  }
  
  .image {
    margin-top: 20px;
  }
  
  .librarycard___image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-top: 10px;
    }
  
  h2 {
    margin: 10px 0;
  }
  